@{
    ViewData["Title"] = "_HomeLayout";
}
<head>
   

    <link href="~/css/style.css" type="text/css" rel="stylesheet" />
</head>
<body>
    <partial name="_CookieConsentPartial" />

   

</body>

@RenderBody()

