@{
    ViewData["Title"] = "Ludo Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Paprikagatan 19 Lgh 1001<br />
    42447 Anered<br />
                <abbr title="Phone">+46721203880</abbr>
    
</address>

<address>
    <strong>E-post:</strong> <a href="mailto:wael850224@gmail.com">wael850224@gmail.com</a><br />
</address>
