
@{
    ViewData["Title"] = "Index";
    Layout = "_HomeLayout";
}
<head>
    <title>Home</title>
</head>
<body>
    <header id="play" >
        <div class="masthead-content">
            <div class="container">
                <h1 >Welcome to Ludo!</h1>
                <a href="/ludo/newgame" >Play now!</a>
            </div>
        </div>
       
    </header>
</body>