
@{
    ViewData["Title"] = "Index";
    Layout = "_HomeLayout";
}
<head>
    <title>Home</title>
</head>                                                 
<style>
    body {
        background-color: lightgray;
    }
        h1 {
        color: grey;
        text-align: left;
    }
    a:link, a:visited {
        background-color: #f44336;
        color: white;
        padding: 14px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        text-align: center;
    }
      </style>
<body>
    <header id="play" >
        <div class="masthead-content">
            <div class="container">
                <h1 >Welcome to Ludo!</h1>
                <a calss="Link1" href="/ludo/newgame" >Play now!</a>
            </div>
        </div>
       
    </header>
</body>