@model WebAppMVC.Models.PlayerModelContainer
@{
    ViewData["Title"] = "Lounge";
    Layout = "_HomeLayout";
}

<head>
    <title>Lounge</title>
</head>
<style>
    body {
        background-color: lightgray;
    }

    h2 {
        color: grey;
        text-align: left;
        font-family: 'Lucida Console'; 
    }
    label {
        color: grey;
        text-align: left;
        font-family: '';
    }
    span {
        color: grey;
        font-size: 24px; 
        text-align: center;
        font-family: Arial;
    }
    button{
        background-color: #f44336;
        color: white;
        padding: 14px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        text-align: center;
    }
</style>
<body>
    

    <div>
        @if (ViewBag.errorMessage != null)
        {
            <p>@ViewBag.errorMessage</p>
        }

        @if (ViewBag.message != null)
        {
            <p>@ViewBag.message</p>
        }
        else
        {
            <h2>Players</h2>
            foreach (PlayerModel player in Model.Players)
            {
                <span>
                    <i> @player.PlayerColor: </i>
                  
                </span>
                <label>@player.Name</label>
            }
            <form asp-action="StartGame" asp-controller="Ludo">
                <button type="submit">Stat The Game</button>
            </form>
        }
    </div>
</body>