@model WebAppMVC.Models.CreateLudoGameModel
@{
    ViewData["Title"] = "Newgame";
    Layout = "_HomeLayout";
}

<head>
    <title>New game</title>
</head>
<style>
    body {
        background-color: lightgray;
    }

    h1 {
        color: grey;
        text-align: left;
    }

    .InputBotton {
        background-color: #f44336;
        color: white;
        padding: 14px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        text-align: center;
    }
</style>
<body>
    <header >
        <h1>Enter Gamers names!</h1>
        <div>
            <div >
            </div>
        </div>
       
    </header>

    <div>

        <form asp-action="CreateGame" asp-controller="Ludo">
            <div>
                
                <label asp-for="Player1Name">Player Red</label>
                <input  asp-for="Player1Name" type="text" placeholder="Please enter your name" />
            </div>
            <div>
                    
                <label asp-for="Player2Name">Player Green</label>
                <input asp-for="Player2Name" type="text" placeholder="Please enter your name" />
            </div>
            <div>
                
                <label asp-for="Player3Name">Player Blue</label>
                <input  asp-for="Player3Name" type="text" placeholder="Please enter your name" />
            </div>
            <div>
                
                <label asp-for="Player4Name">Player Yellow</label>
                <input  asp-for="Player4Name" type="text" placeholder="Please enter your name" />
            </div>
            <input class="InputBotton" type="submit" value="New Game" />
        </form>
    </div>
</body>